applet/
*.DS_Store
*~
*.orig
*.rej
*.bak
*.idea
*.s
*.i
*.ii
*.swp
tags
*.slo
*.lo
*.o
*.obj
*.ino.cpp
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.o
*.ko
*.obj
*.elf
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
.pio*
.pioenvs
.piolibdeps
lib/readme.txt
*.sln
*.vcxproj
*.vcxproj.filters
Release/
Debug/
__vm/
.vs/
vc-fileutils.settings
.vscode
.vscode/c_cpp_properties.json
CMakeLists.txt
Marlin/CMakeLists.txt
CMakeListsPrivate.txt
cmake-build-*